.idea/workspace.xml
production/
out
.gitignore
license.txt
.target
.classpath
.project
.settings/
**/.classpath
.project/
**/.settings
**/.settings/**
.idea/
/*.iml
**/*.iml
**/logs/
.DS_*
*.releaseBackup
release.properties
*.swap
~*
**/.g8/
*.log
dump.json
**/test.json
graph_importer/src/test/resources/test.groovy
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
.idea
